<template>
  <q-form class="register-price__catalytic" @submit="saveData">
    <div class="company-section edit-company__section repeater-js">
      <div class="company-section__title mb-25">
        Керамический материал
      </div>
      <div class="edit-company__form mb-30 repeater-list-js">
        <div
          class="repeater-item-js"
          v-for="(category, i) of ceramicArrCategory"
          :key="`category-${i}`"
        >
          <div class="d-flex mb-20">
            <div class="form-group__title">Весовая категория #{{ i + 1 }}</div>
            <div
              v-if="i > 0"
              class="ml-auto cross cross-js"
              @click="removeCeramicCategory(i)"
            ></div>
          </div>
          <div
            class="form-group form-group__range row align-items-center mb-15"
          >
            <div class="col-12 col-lg-3">
              <label class="form-input__label">Весовая категория</label>
            </div>
            <div class="col-12 col-lg-9">
              <div class="form-input__range-row d-flex">
                <div class="form-input__wrapp form-input__range">
                  <q-input
                    v-model="category.weight.from"
                    type="number"
                    prefix="от"
                    suffix="кг"
                    class="register-input__suffix"
                    placeholder="1"
                  ></q-input>
                </div>
                <div class="form-input__wrapp form-input__range">
                  <q-input
                    v-model="category.weight.to"
                    type="number"
                    prefix="до"
                    suffix="кг"
                    class="register-input__suffix"
                    placeholder="1"
                  ></q-input>
                </div>
              </div>
            </div>
          </div>
          <div
            class="form-group form-group__range row align-items-center mb-15"
          >
            <div class="col-12 col-lg-3">
              <label class="form-input__label">% выплат по LME</label>
            </div>
            <div class="col-12 col-lg-9">
              <div class="form-input__range-row d-flex">
                <div class="form-input__wrapp form-input__range">
                  <q-input
                    v-model="category.percent_pay.pt"
                    type="number"
                    prefix="Pt"
                    suffix="%"
                    class="register-input__suffix register-input__prefix"
                    placeholder="1"
                  ></q-input>
                </div>
                <div class="form-input__wrapp form-input__range">
                  <q-input
                    v-model="category.percent_pay.pd"
                    type="number"
                    prefix="Pd"
                    suffix="%"
                    class="register-input__suffix register-input__prefix"
                    placeholder="1"
                  ></q-input>
                </div>
                <div class="form-input__wrapp form-input__range">
                  <q-input
                    v-model="category.percent_pay.rh"
                    type="number"
                    prefix="Rh"
                    suffix="%"
                    class="register-input__suffix register-input__prefix"
                    placeholder="1"
                  ></q-input>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="link repeater-btn_cat" @click="addCeramicCategory">
        Добавить весовую категорию
      </div>
    </div>

    <div class="company-section edit-company__section">
      <div class="company-section__title mb-25">
        Металлический материал (импорт)
      </div>
      <div class="edit-company__form">
        <div class="form-group form-group__range row align-items-center">
          <div class="col-12 col-lg-3">
            <label class="form-input__label">Цена за кг</label>
          </div>
          <div class="col-12 col-lg-9">
            <div class="form-input__range-row d-flex">
              <div class="form-input__wrapp form-input__range">
                <q-input
                  v-model="metalMaterialImport.price_to_kg.from"
                  type="number"
                  prefix="от"
                  suffix="₽"
                  class="register-input__suffix"
                  placeholder="100"
                ></q-input>
              </div>
              <div class="form-input__wrapp form-input__range">
                <q-input
                  v-model="metalMaterialImport.price_to_kg.to"
                  type="number"
                  prefix="до"
                  suffix="₽"
                  class="register-input__suffix"
                  placeholder="100"
                ></q-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="company-section edit-company__section">
      <div class="company-section__title mb-25">
        Металлический материал (отеч.)
      </div>
      <div class="edit-company__form">
        <div class="form-group form-group__range row align-items-center">
          <div class="col-12 col-lg-3">
            <label class="form-input__label">Цена за кг</label>
          </div>
          <div class="col-12 col-lg-9">
            <div class="form-input__range-row d-flex">
              <div class="form-input__wrapp form-input__range">
                <q-input
                  v-model="metalMaterialLocal.price_to_kg.from"
                  type="number"
                  prefix="от"
                  suffix="₽"
                  class="register-input__suffix"
                  placeholder="100"
                ></q-input>
              </div>
              <div class="form-input__wrapp form-input__range">
                <q-input
                  v-model="metalMaterialLocal.price_to_kg.to"
                  type="number"
                  prefix="до"
                  suffix="₽"
                  class="register-input__suffix"
                  placeholder="100"
                ></q-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="edit-company__btns d-flex justify-content-between">
      <div class="btn btn_reset-param scrollto" @click="$emit('closeEdit')">Назад</div>
      <label class="custom-checkbox">
        <input checked="" class="d-none" type="checkbox" />
        <span class="custom-checkbox__point"></span>
        Применить цены ко всем филиалам
      </label>
      <button
        type="submit"
        class="btn btn_black"
      >
        Сохранить изменения
      </button>
    </div>
  </q-form>
</template>
<script>
export default {
  data () {
    return {
      ceramicArrCategory: [],
      metalMaterialImport: {
        price_to_kg: {
          from: null,
          to: null
        }
      },
      metalMaterialLocal: {
        price_to_kg: {
          from: null,
          to: null
        }
      }
    }
  },
  created () {
    this.addCeramicCategory()
  },
  methods: {
    addCeramicCategory () {
      const obj = {
        weight: {
          from: null,
          to: null
        },
        percent_pay: {
          pt: null,
          pd: null,
          rh: null
        }
      }
      this.ceramicArrCategory.push(obj)
    },
    removeCeramicCategory (i) {
      this.ceramicArrCategory.splice(i, 1)
    },
    saveData () {
      this.$emit('closeEdit')
    }
  }
}
</script>
